body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-302px;
  width:173px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:133px;
  width:173px;
  height:214px;
}
#u92_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:214px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 205, 145, 1);
  background-image:url('../../images/练习e/u92_state0.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:80px 80px;
  background-origin:border-box;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:214px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 205, 145, 1);
  background-image:url('../../images/练习e/u92_state1.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:128px 128px;
  background-origin:border-box;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u92_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:37px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:96px;
  width:173px;
  height:37px;
  display:flex;
  color:#FFFFFF;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
